.navbar-nav .nav-item span {
  display: block;
  padding-bottom: 0.425rem;
  padding-top: 0.425rem;
}

.navbar-brand {
  font-size: 1.5em;
}

.navbar {
  background-color: #681362;
}

.body {
  background-color: #0275d8;
}

h1 {
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

#messages {
  max-height: 450px;
  overflow-y: auto;
  .avatar {
    margin: 0.5rem;
  }
}

footer {
  margin-top: 50px;
}