.navbar-nav .nav-item span {
  display: block;
  padding-bottom: 0.425rem;
  padding-top: 0.425rem;
}

.navbar-brand {
  font-size: 1.5em;
}

.navbar {
  background-color: #681362;
  font-family:'Shadows Into Light Two', Futura, Helvetica, Arial, sans-serif;
}
.menu {
  float: right;
}

.body {
  background-color: #0275d8;
}

.welcome h4 {
  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family:'Shadows Into Light Two', Futura, Helvetica, Arial, sans-serif;
  color: #681362;
}

h1 {
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.new_chat {
  padding-left: 500px;
}

#messages {
  max-height: 450px;
  overflow-y: auto;
  .avatar {
    margin: 0.5rem;
  }
}

footer {
  margin-top: 50px;
}